# Editors Files and Folders

.idea/
.vscode/
*~
\#*#
__pycache__
env
.DS_Store

# Expo and React Native

node_modules/
.expo/
react_native/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Delivery

# File

# Binary Files