apispec==4.7.1
attrs==21.2.0
click==8.0.1
flasgger==0.9.5
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
kafka-python==2.0.2
MarkupSafe==2.0.1
marshmallow==3.12.2
marshmallow-sqlalchemy==0.26.1
mistune==0.8.4
psycopg2==2.9.1
pyrsistent==0.18.0
python-dotenv==0.18.0
PyYAML==5.4.1
six==1.16.0
SQLAlchemy==1.4.20
Werkzeug==2.0.1
